* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
canvas {
	width: 100vw;
	height: 100vh;
}

.button {
	border-radius: 5px;
	width: 150px;
	padding: 10px 15px;
}
.button:hover {
	background-color: blue;
}
.btn-container {
	position: absolute;
	right: 2.5vw;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
