* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
canvas {
	width: 100vw;
	height: 100vh;
}

.button {
	border-radius: 5px;
	width: 200px;
	padding: 10px 15px;
}
.btn-container {
	display: flex;
	flex-direction: column;
}
